<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <script src="../js/vuejs-2.5.16.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/getParameter.js"></script>
</head>
<body>
<div id="app">
    姓名：<input type="text" v-model="user.name"><br/>
    工资：<input type="text" v-model="user.salary"><br/>
    生日：<input type="date" v-model="user.birthday"><br/>
    <input type="button" @click="add" value="提交">
</div>
</body>
<script>
    //view model
    new Vue({
        el:"#app",
        data:{
            user:{
                id:"",
                name:"",
                salary:"",
                birthday:""
            }
        },
        methods:{
            add:function () {
                var _this = this;
                axios.post("../emp/save",_this.user).then(function (response) {
                   if(response.data=="ok"){
                       window.location.href="lists.html"
                   }
                })
            }

        },
        created: function () {

        }



    })
</script>
</html>